<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %> 
    <%= javascript_include_tag "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="fixed">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
	    <li class="name">
	    <h1><a href="/">Triviumer</a></h1></li></ul>
    <section class="top-bar-section">
	    <ul class="right">
		    <li><a href="info">About Trivium</a></li>
		    <li class="divider" />
	    	<li class="has-dropdown">
			<a href="users">
<% if current_user %><%= current_user.username %><% else %>Guest<% end %>
			</a>
			<ul class="dropdown">
				<li><a href="users/login">Login</a></li>
				<li><a href="users/new">Join</a></li>
<%if current_user %>
				<li><a href="users/logout">logout</a></li>
<% end %>
			</ul>
		</li>
		<li><a href="pop" class="button expand">Jump in</a></li>
	</ul>	
  </nav></div>
    <%= yield %>
  </body>
</html>
